<!DOCTYPE html>
<html>
<head>
  <title>Acr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="acr-debug" content="layout-vite-ok" />
  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
</head>
<body>
  <%= yield %>
  <%= vite_javascript_tag "application.jsx" %>
</body>
</html>
